html {
    box-sizing: border-box;
}
body {
    background-color: #accae2;
    text-align: center;  
    color:#5b3759;  
    font-family: 'Raleway', Arial;
    font-size: 18px;
    width: 940px;
    margin: 20px auto 0 auto;
    padding: 20px;
}
h1, h2, h3 {
    color:#284b70;
    font-weight: bold;
}
h1 {
    display: inline-block; /*resolved centering after I changed the container width*/
    font-size: 65px;
    background-color:#81a5e6;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
}
.listContainer {    
    list-style-position: inside;   
}
.list {
    display: inline-block;/*resolved centering after I changed the container width*/
    text-align: left;
    padding-right: 50px;/*forced content left because it looked off with the center alignment*/
    font-size: 20px;
}
h2 {
    font-size: 40px
}

img {
   width: 350px;
   padding: 70px;
}
.imgContainer {
    display: inline-block;
    background-color: #5b3759;
    width: 600px;
    border-radius: 20px;
    margin: 50px; /*for better spacing around the image*/
}
.aboutMe {
    background-color:#81a5e6;
    padding: 20px;
    border-color: #5b3759;
    border-radius: 20px;
    margin: 50px;
}

footer{
    background-color:#5b3759;
    height: 55px;
    margin-top: 20px;
}
a:link {color:#284b70;}
a:visited {color:#5b3759;}
a:hover {color:#757f92;}
a:active {color:#dbbec3;}
